*.vs
*.csproj.lscache
**/bin/
**/obj/

*.cs.uid
*.cs.doxy_temp
NuGet/

# Unity specific ignores
UnityIntegration/
UnityIntegration/Assets/Nomad/
UnityIntegration/Assets/Nomad.meta

UnityIntegration/Build/
UnityIntegration/Temp/
UnityIntegration/Logs/
UnityIntegration/Library/
UnityIntegration/UserSettings

*.tar.gz

Secrets/

*.svg
*.log
Tests/CoverageResults
Tests/TestResults