*.vs
*.csproj.lscache
**/bin/
**/obj/

*.cs.uid
*.cs.doxy_temp
NuGet/
Build/

Tools/

# Unity specific ignores
UnityIntegration/
UnityIntegration/Assets/Nomad/
UnityIntegration/Assets/Nomad.meta

UnityIntegration/Build/
UnityIntegration/Temp/
UnityIntegration/Logs/
UnityIntegration/Library/
UnityIntegration/UserSettings

*.tar.gz

nuget_api_key.txt
framework_api_key.txt
codecov_api_key.txt

*.svg
*.log
Tests/CoverageResults
Tests/TestResults