*.vs
**/bin/
**/obj/

*.cs.uid
*.cs.doxy_temp
NuGet/
Documentation/html/
Build/

Tools/

# Unity specific ignores
UnityIntegration/
UnityIntegration/Assets/Nomad/
UnityIntegration/Assets/Nomad.meta

UnityIntegration/Build/
UnityIntegration/Temp/
UnityIntegration/Logs/
UnityIntegration/Library/
UnityIntegration/UserSettings

*.tar.gz

nuget_api_key.txt
framework_api_key.txt